<!DOCTYPE html>
<html>
  <head>
    <title>RakhsunApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{'AIzaSyDaMtSmd41YCADyrMrbNRpFb098Vc2TO0c'}" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
